/*-- Evento ---------------------------------------------------------------*/


.reunionAutor{background-color: #16A765;}
.reunionNoConfirmado{background-color: yellow; }
.reunionConfirmada{background-color: #16A765; }
.reunionCancelada{background-color: red; }
.tarea{background-color: #4986E7; }

.evento {
 	border-radius: 2px;
  
  	border: 1px solid white;
  	padding: 1px;
  
  	color:black !important;
  	/*padding-bottom: 21px;*/
  	box-sizing: border-box;
 
  	position:relative;
  		
	word-break: break-all; 
	word-wrap: break-word;
	flex-basis: 100%;
	z-index:unset;

}
.evento:hover{  
	text-decoration: none;
		z-index:2;
		}
  /*float: left;*/
  /*width: 50%;*/
  /*background-color: rgb(240, 147, 0);*/
  /*height: 2.5vh;*/
  
.evento a {color:black;
z-index:unset;}
/*.evento a:hover{z-index:999;}*/
.evento p {
	font-size: calc(0.2vw + 1.3vh);
}
	
.draggable{
	height:1px; 
	
	border:0;
	word-break: break-all; 
	word-wrap: break-word;
	flex-basis: 100%;
	z-index:unset;
}

	
.default-link{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: unset;
  /* IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
  filter: alpha(opacity=0);  
  opacity:0;  
}