		html,body,.container
		{
		    height:80%;
		}
		a:link{color:black;}
		a:visited{color:black;}
		
		.dia{width:13%; float: left; border: 1px solid darkgrey;}
		.hora{height:21px;border: solid 1px gray;/* position:relative;*/}
		


		
		.hoy{ background-color: lightgray;}
		.headerDia{background-color: silver; text-align: center; font-weight: bold;}
		
		.panelHoras{width:5%; float: left; }