

/**/

	.navbar {margin-bottom:0 !important;}
	.navbar-default {background-image: linear-gradient(to bottom,#fff,#f2f2f2) !important;}
	.navbar{min-height:auto !important;}
	
	.navbar-brand{height:auto !important;}
	
	.navbar .nav>li>a, .navbar-brand {			
	    text-shadow: 0 1px 0 #fff !important;
	    padding:10px 15px !important;
      }
      
/*--------------------------------------------------------------------------*/

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /*top: 0;*/
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  /*padding-top: 60px;*/
}

<!-- -->
.sidenav .botonera a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
<!-- -->
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 2vw;
}
<!-- -->
#barrasuperior
{
	border: 1px solid #CCC; 
	background-color: #ffffff; 
	padding: .5em;
}
	
#toggleBoton{
	font-size:20px;
	cursor:pointer;
	float:left; 
	padding-right:5px; 
	margin-top:-5px;}
	
#main {
  transition: margin-left .5s;
  padding-left: 1vw;
}

@media screen and (max-height: 450px) {
  /*.sidenav {
    padding-top: 15px;
  }*/
  .sidenav .botonera a {
    font-size: 18px;
  }
}

/*---------------*/

::-webkit-scrollbar {
  width: 0.5vw;
  height: 2vh;
}

::-webkit-scrollbar-button {
  background: #ddd
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #aaa
}

/*
body::-webkit-scrollbar {
    width: 2vh;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*/
