		html,body,.container
		{
		    height:80%;
		}
		a:link{color:black;}
		a:visited{color:black;}
		.tarea{background-color: #4986E7; border: 1px solid darkgrey;}
		.reunionAutor{background-color: #16A765; border: 1px solid darkgrey;}
		.reunionNoConfirmado{background-color: yellow; border: 1px solid darkgrey;}
		.reunionConfirmada{background-color: #16A765; border: 1px solid darkgrey;}
		.reunionCancelada{background-color: red; border: 1px solid darkgrey;}
		.dia{width:13%; float: left; border: 1px solid darkgrey;}
		.hoy{ background-color: lightgray;}
		.headerDia{background-color: silver; text-align: center; font-weight: bold;}
		.hora{height:20px;border: solid 1px gray;}
		.panelHoras{width:5%; float: left; }