<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../../ui/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../ui/js/jquery-ui-1.11.4.js"></script>
    

<!-- JS -------------------->

<script>
    
    $(document).ready(function(){
    	$(".evento").draggable();
    });
        
</script>

<!-- CSS ------------------->
<style>
    .dia{float:left;widht:50px;}
    .hora, .evento{
    	border:1px solid lightgray;
    	widht:50px;
    	height:30px;
    }
    .evento{}
    </style>
</head>
<body>

	

<!-- HTM ------------------->

<div class="dia">
1
	<div class="hora" id="1">
		<div class="evento">sarasa</div>
	</div>
	<div class="hora" id="2">1</div>
	<div class="hora" id="3">2</div>
	<div class="hora" id="4">3</div>
	<div class="hora" id="5">4</div>
</div>
<div class="dia">
2	<div class="hora" id="1">1</div>
	<div class="hora" id="2">2</div>
	<div class="hora" id="3">3</div>
	<div class="hora" id="4">4</div>
	<div class="hora" id="5">5</div>
</div>



</body>
</html>