<!DOCTYPE html>

<!--
https://github.com/jonthornton/jquery-timepicker#timepicker-plugin-for-jquery  
https://stackoverflow.com/questions/36770272/jquery-timepicker-how-to-dynamically-set-mintime-of-an-input-field
-->	

<html>
<head>
	<script type="text/javascript" src="/tphibernate/views/ui/js/jquery-1.12.4.js"></script>
	<link href="/tphibernate/views/ui/css/jquery.timepicker.css" rel="stylesheet">
	<script type="text/javascript" src="/tphibernate/views/ui/js/jquery.timepicker.min.js"></script>
	<script type="text/javascript">
	$(function() {
		
		$('#horaInicio').timepicker({ 			
			'timeFormat': 'H:i' ,		
			'step': '30',
			'useSelect': true,
			'maxTime':'23:00',
        	'scrollDefault': '08:00'
			});
		
		$("#horaInicio").on('change', function(){
			var h=$(this).val()
			cambiarHoraFin(h);							
			});
		
		$('#horaFin').timepicker({ 
			'timeFormat': 'H:i',
			'forceRoundTime': true,
			'step': '30',
			'useSelect': true
			});
		
		
		function cambiarHoraFin(horaInicio){
			
			//horaInicio
			
			var arrayHoraInicio = horaInicio.split(":"); //split time by colon
			
	    	//horaMinima=horaInicio + 1/2
	    	
	    	var h_HoraMinima=parseInt(arrayHoraInicio[0]);
	    	var m_HoraMinima=arrayHoraInicio[1];
	    	
			
	    	if(m_HoraMinima=="30"){
	    		m_HoraMinima="00";
	    		//TODO: validar limite
	    		h_HoraMinima+=1;
    		} else {
    			m_HoraMinima="30";
    		}
			
	    	var horaMinima= h_HoraMinima+":"+m_HoraMinima;
	    	
	    		
			//hora propuesta	    	
	    	
    		var h_HoraPropuesta=parseInt(arrayHoraInicio[0]);
	    	var m_HoraPropuesta=arrayHoraInicio[1];    		
	    		
	    	var h_HoraPropuesta = h_HoraPropuesta+1; //agrega una hora
	    	var horaPropuesta = h_HoraPropuesta+":"+m_HoraPropuesta; //newTime: 1 hr mas
			if(horaPropuesta =="24:00"){horaPropuesta ="23:30"}


	    	// establecer valores
	    	
	    	$("#horaFin").timepicker('setTime',horaPropuesta);
			$("#horaFin").timepicker('option',{
							'minTime': horaMinima,
							'maxTime':'23:30'});
		}
		
	});
	</script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<input 
		id="horaInicio" 
		name="horaInicio" 
		class="input-small" 
		placeholder="Hora de inicio" 
		type="text" 
		value="" 
		autocomplete="off">

	<input 
		id="horaFin" 
		name="horaFin" 
		class="input-small" 
		placeholder="Hora de fin" 
		type="text" 
		value="" 
		autocomplete="off">
</body>
</html>